Repository dart-lang/site-webdev, pull requests merged in 2018-06, with the labels that each got.

#1618 Removed OnActivate that should not be there, yet
  src/angular/tutorial/toh-pt5.md
Labels: Tutorials, cla: yes

#1627 Example: remove plaster from toh-5 excerpt
  src/angular/tutorial/toh-pt5.md
Labels: Examples, cla: yes

#1631 Example(toh-5): fix routerLink paths
  examples/ng/doc/router/lib/app_component.dart
  examples/ng/doc/router/lib/app_component_1.dart
  examples/ng/doc/router/lib/app_component_2.dart
  examples/ng/doc/router/lib/app_component_3.dart
  examples/ng/doc/router/lib/app_component_4.dart
  examples/ng/doc/router/lib/src/routes_1.dart
  examples/ng/doc/toh-5/lib/src/routes.dart
  examples/ng/doc/toh-5/test/dashboard_real_router.dart
  src/angular/guide/router/1.md
  src/angular/guide/router/appendices.md
  src/angular/guide/router/index.md
  src/angular/guide/testing/component/routing-components.md
  src/angular/tutorial/toh-pt5.md
Labels: Angular, Examples, cla: yes

#1632 Example(router, toh-6): fix routerLink paths
  examples/ng/doc/router/lib/app_component.dart
  examples/ng/doc/router/lib/app_component_1.dart
  examples/ng/doc/router/lib/app_component_2.dart
  examples/ng/doc/router/lib/app_component_3.dart
  examples/ng/doc/router/lib/app_component_4.dart
  examples/ng/doc/router/lib/src/crisis/routes.dart
  examples/ng/doc/router/lib/src/route_paths.dart
  examples/ng/doc/router/lib/src/route_paths_3.dart
  examples/ng/doc/router/lib/src/routes.dart
  examples/ng/doc/router/lib/src/routes_1.dart
  examples/ng/doc/router/lib/src/routes_2.dart
  examples/ng/doc/router/lib/src/routes_3.dart
  examples/ng/doc/router/lib/src/routes_4.dart
  examples/ng/doc/router/pubspec.lock
  examples/ng/doc/toh-5/lib/src/route_paths.dart
  examples/ng/doc/toh-5/lib/src/routes.dart
  examples/ng/doc/toh-6/lib/src/hero_service.dart
  examples/ng/doc/toh-6/lib/src/routes.dart
  examples/ng/doc/toh-6/pubspec.lock
  src/angular/guide/router/1.md
  src/angular/guide/router/2.md
  src/angular/guide/router/3.md
  src/angular/guide/router/4.md
  src/angular/guide/router/index.md
Labels: Angular, Examples, cla: yes

#1624 chore: use new code excerpter builder
  .travis.yml
  build.doc.yaml
  pubspec.lock
  pubspec.yaml
  scripts/check-all.sh
  src/_plugins/code_excerpt_processor.rb
Labels: Infrastructure, cla: yes

#1637 Upgrade to SDK 2-dev.61
  .travis.yml
  examples/acx/lottery/1-base/pubspec.lock
  examples/acx/lottery/2-starteasy/pubspec.lock
  examples/acx/lottery/3-usebuttons/pubspec.lock
  examples/acx/lottery/4-final/pubspec.lock
  examples/html/pubspec.lock
  examples/ng/api/common/pipes/pubspec.lock
  examples/ng/api/core/ngzone/pubspec.lock
  examples/ng/doc/architecture/pubspec.lock
  examples/ng/doc/attribute-directives/pubspec.lock
  examples/ng/doc/component-styles/pubspec.lock
  examples/ng/doc/dependency-injection/pubspec.lock
  examples/ng/doc/displaying-data/pubspec.lock
  examples/ng/doc/forms/pubspec.lock
  examples/ng/doc/hierarchical-dependency-injection/pubspec.lock
  examples/ng/doc/lifecycle-hooks/pubspec.lock
  examples/ng/doc/pipes/pubspec.lock
  examples/ng/doc/quickstart/pubspec.lock
  examples/ng/doc/router/pubspec.lock
  examples/ng/doc/security/pubspec.lock
  examples/ng/doc/server-communication/pubspec.lock
  examples/ng/doc/structural-directives/pubspec.lock
  examples/ng/doc/template-syntax/pubspec.lock
  examples/ng/doc/toh-0/pubspec.lock
  examples/ng/doc/toh-1/pubspec.lock
  examples/ng/doc/toh-2/pubspec.lock
  examples/ng/doc/toh-3/pubspec.lock
  examples/ng/doc/toh-4/pubspec.lock
  examples/ng/doc/toh-5/pubspec.lock
  examples/ng/doc/toh-6/pubspec.lock
  examples/ng/doc/user-input/pubspec.lock
  examples/util/pageloader/pubspec.lock
  pubspec.lock
  src/_data/pkg-vers.json
  src/_data/pubspec.lock
  src/_data/pubspec.yaml
Labels: Examples, cla: yes

#1639 Examples: upgrade to ACX +14
  examples/acx/lottery/1-base/pubspec.lock
  examples/acx/lottery/2-starteasy/pubspec.lock
  examples/acx/lottery/2-starteasy/pubspec.yaml
  examples/acx/lottery/3-usebuttons/pubspec.lock
  examples/acx/lottery/3-usebuttons/pubspec.yaml
  examples/acx/lottery/4-final/pubspec.lock
  examples/acx/lottery/4-final/pubspec.yaml
  examples/html/pubspec.lock
  examples/ng/api/common/pipes/pubspec.lock
  examples/ng/api/core/ngzone/pubspec.lock
  examples/ng/doc/architecture/pubspec.lock
  examples/ng/doc/attribute-directives/pubspec.lock
  examples/ng/doc/component-styles/pubspec.lock
  examples/ng/doc/dependency-injection/pubspec.lock
  examples/ng/doc/displaying-data/pubspec.lock
  examples/ng/doc/forms/pubspec.lock
  examples/ng/doc/hierarchical-dependency-injection/pubspec.lock
  examples/ng/doc/lifecycle-hooks/pubspec.lock
  examples/ng/doc/pipes/pubspec.lock
  examples/ng/doc/quickstart/pubspec.lock
  examples/ng/doc/router/pubspec.lock
  examples/ng/doc/security/pubspec.lock
  examples/ng/doc/server-communication/pubspec.lock
  examples/ng/doc/structural-directives/pubspec.lock
  examples/ng/doc/structural-directives/pubspec.yaml
  examples/ng/doc/template-syntax/pubspec.lock
  examples/ng/doc/template-syntax/pubspec.yaml
  examples/ng/doc/toh-0/pubspec.lock
  examples/ng/doc/toh-1/pubspec.lock
  examples/ng/doc/toh-2/pubspec.lock
  examples/ng/doc/toh-3/pubspec.lock
  examples/ng/doc/toh-4/pubspec.lock
  examples/ng/doc/toh-5/pubspec.lock
  examples/ng/doc/toh-6/pubspec.lock
  examples/ng/doc/user-input/pubspec.lock
  examples/util/pageloader/pubspec.lock
  src/_codelabs/angular_components/2-starteasy.md
  src/_data/pubspec.lock
  src/_data/pubspec.yaml
Labels: Examples, cla: yes

#1648 Examples: clean out dep_overrides
  examples/acx/lottery/2-starteasy/pubspec.lock
  examples/acx/lottery/2-starteasy/pubspec.yaml
  examples/acx/lottery/3-usebuttons/pubspec.lock
  examples/acx/lottery/3-usebuttons/pubspec.yaml
  examples/acx/lottery/4-final/pubspec.lock
  examples/acx/lottery/4-final/pubspec.yaml
  examples/html/pubspec.lock
  examples/ng/doc/structural-directives/pubspec.lock
  examples/ng/doc/structural-directives/pubspec.yaml
  examples/ng/doc/template-syntax/pubspec.lock
  examples/ng/doc/template-syntax/pubspec.yaml
  src/_codelabs/angular_components/2-starteasy.md
  src/_data/pkg-vers.json
  src/_data/pubspec.lock
  src/_data/pubspec.yaml
Labels: cla: yes

#1652 Travis: run the analyzer and dartfmt
  .travis.yml
  examples/acx/lottery/1-base/lib/lottery_simulator.dart
  examples/acx/lottery/1-base/lib/src/settings/settings.dart
  examples/acx/lottery/2-starteasy/lib/lottery_simulator.dart
  examples/acx/lottery/2-starteasy/lib/src/settings/settings.dart
  examples/acx/lottery/3-usebuttons/lib/lottery_simulator.dart
  examples/acx/lottery/3-usebuttons/lib/src/settings/settings.dart
  examples/acx/lottery/4-final/lib/lottery_simulator.dart
  examples/acx/lottery/4-final/lib/src/settings/settings.dart
  examples/html/test/html_test.dart
  examples/ng/api/common/pipes/lib/async_pipe.dart
  examples/ng/doc/component-styles/lib/src/hero_app_main_component.dart
  examples/ng/doc/component-styles/lib/src/hero_controls_component.dart
  examples/ng/doc/dependency-injection/lib/src/app_config.dart
  examples/ng/doc/dependency-injection/lib/src/car/car_creations.dart
  examples/ng/doc/dependency-injection/lib/src/car/car_factory.dart
  examples/ng/doc/dependency-injection/lib/src/car/car_no_di.dart
  examples/ng/doc/dependency-injection/lib/src/heroes/hero_service.dart
  examples/ng/doc/dependency-injection/lib/src/heroes/heroes_component_1.dart
  examples/ng/doc/dependency-injection/lib/src/test_component.dart
  examples/ng/doc/dependency-injection/test/hero_list_component_test.dart
  examples/ng/doc/forms/lib/src/hero_form_component.dart
  examples/ng/doc/lifecycle-hooks/lib/src/counter_component.dart
  examples/ng/doc/pipes/lib/src/hero_list_component.dart
  examples/ng/doc/pipes/lib/src/power_booster_component.dart
  examples/ng/doc/router/lib/src/crisis/crisis_component_3.dart
  examples/ng/doc/router/lib/src/hero/hero_component.dart
  examples/ng/doc/security/lib/src/bypass_security_component.dart
  examples/ng/doc/server-communication/lib/app_component.dart
  examples/ng/doc/server-communication/lib/in_memory_data_service.dart
  examples/ng/doc/structural-directives/lib/app_component.dart
  examples/ng/doc/template-syntax/lib/src/hero_component.dart
  examples/ng/doc/toh-6/lib/src/hero_search_component.dart
  examples/ng/doc/user-input/lib/src/keyup_components.dart
  examples/util/pageloader/lib/src/po_base.dart
  gulp/example.js
  gulp/test.js
  gulpfile.js
  pubspec.lock
  scripts/refresh-code-excerpts.sh
  src/_guides/html-library-tour.md
  src/angular/guide/component-styles.md
  src/angular/guide/dependency-injection.md
  src/angular/guide/forms.md
  src/angular/guide/pipes.md
  src/angular/guide/router/3.md
  src/angular/guide/router/4.md
  src/angular/guide/security.md
  src/angular/tutorial/toh-pt6.md
Labels: Examples, Infrastructure, cla: yes

#1658 chore: ensure API examples are build
  gulp/test.js
Labels: Angular, Examples, cla: yes

#1660 chore: drop temporary dep overrides
  examples/ng/doc/toh-5/pubspec.lock
  examples/ng/doc/toh-5/pubspec.yaml
  examples/ng/doc/toh-6/pubspec.lock
  examples/ng/doc/toh-6/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  scripts/before-install.sh
  src/angular/tutorial/toh-pt5.md
Labels: Infrastructure, cla: yes

#1654 Update JS interop links
  src/_guides/web-programming.md
Labels: cla: yes

#1662 Drop old JSON article, link to site-www JSON page
  firebase.json
  src/_articles/get-data/index.md
  src/_articles/get-data/json-web-service.md
  src/_articles/index.md
  src/_assets/stylesheets/main.scss
  src/_guides/get-data.md
  src/_tutorials/get-data/fetch-data.md
  src/_tutorials/get-data/index.md
Labels: Docs, cla: yes

#1667 Add fetch_data example
  build.excerpt.yaml
  examples/fetch_data/analysis_options.yaml
  examples/fetch_data/dart_test.yaml
  examples/fetch_data/pubspec.lock
  examples/fetch_data/pubspec.yaml
  examples/fetch_data/web/index.html
  examples/fetch_data/web/main.dart
  examples/fetch_data/web/portmanteaux.json
  examples/fetch_data/web/portmanteaux/index.html
  examples/fetch_data/web/portmanteaux/main.dart
  examples/fetch_data/web/portmanteaux/styles.css
  examples/fetch_data/web/portmanteaux2/index.html
  examples/fetch_data/web/portmanteaux2/main.dart
  examples/fetch_data/web/portmanteaux2/styles.css
  examples/html/analysis_options.yaml
  gulp/test.js
Labels: Examples, cla: yes

#1669 Example(fetch_data): adjust analysis options and tweak code
  examples/fetch_data/analysis_options.yaml
  examples/fetch_data/web/main.dart
  examples/fetch_data/web/portmanteaux/main.dart
  examples/fetch_data/web/portmanteaux2/main.dart
Labels: Examples, cla: yes

#1666 Updated fetch-data JSON tutorial
  examples/fetch_data/web/portmanteaux2/main.dart
  src/_tutorials/get-data/fetch-data.md
  src/_tutorials/images/getstringfunction.png
  src/_tutorials/images/json-parse.png
  src/_tutorials/images/portmanteaux-callback.png
  src/_tutorials/images/portmanteaux-code.png
Labels: Examples, Tutorials, cla: yes
